:root {
    --background_color: #fbfbfb;
    --main_nav_background_color: #002353;
    --main_nav_border: #002353;
    --main_nav_links_color: #ffffff;
    --right_panel_nav_background_color: #F2F2F2;
    --right_panel_nav_border: #E0E0E0;
    --right_panel_nav_color: #828282;
    --black_text_color: #000000;
    --blue_text_color: #2F80ED;
    --tag_background_color: #EEF5FF;
    --red_text_color: #EF0808;
    --rating_panel_dropDown_border_color: #BDBDBD;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


/* overlay response */

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: default;
}

.overlay-panel {
    display: flex;
    width: 65%;
    max-height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* overlay rating */

#ratings-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: default;
}

#respond-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: default;
}

#ratings-review {
    margin-top: 10px;
    display: none;
    margin-bottom: 15px;
}

#response-box {
    margin-top: 10px;
    display: unset;
    margin-bottom: 15px;
}

#caret-up {
    display: none;
}

#caret-down {
    display: unset;
}

.ratings-drop-down {
    text-align: center;
}

.content-holder-ratings i {
    color: #EF0808
}

.ratings-overlay-panel {
    display: flex;
    width: 65%;
    max-height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.star-rating-value-float-left {
    overflow: none;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    float: right;
}

.star-rating-panel {
    height: 100%;
    margin: 0;
    padding: 0;
}

.info-card-ratings {
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.15);
    width: 450px;
    margin: 15px auto 10px;
    position: relative;
}

.image-holder-ratings {
    width: 100%;
    max-height: 280px;
    overflow: hidden;
}

.content-holder-ratings {
    width: 100%;
    padding: 20px 20px;
    background-color: var(--background_color);
    border-top: 1px solid rgb(231, 231, 231);
}

.content-holder-ratings button {
    width: 100%;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #002353;
    padding: 2px 5px 5px;
    margin-bottom: 5px;
}

.top-padding {
    padding-top: 0.625rem;
}

.reviews-response-container {
    margin-top: 13px;
    height: 100%;
    padding: 1.875rem;
    background: #EEF5FF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: auto;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
    background-color: var(--background_color);
    min-height: 10rem;
}

.inner {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.main-nav-bar {
    max-height: 2.5rem;
    background-color: var(--main_nav_background_color);
    box-sizing: border-box;
}

.main-nav-bar-links {
    display: flex;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.main-nav-bar-links a {
    margin-left: 1.875rem;
    color: var(--main_nav_links_color);
}

.content {
    height: 100%;
    margin: 1.875rem;
}

.left-column {
    width: 22.9%;
    min-width: 22.9%;
    float: left;
    /* margin-right: 1.875rem; */
}

.right-column {
    width: 74.2%;
    min-width: 22.9%;
    height: 100%;
    float: right;
}

.right-panel-container {
    height: 100%;
    margin: 1.875rem;
}


/* reviews panel starts here */

.review-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--black_text_color);
}

.ratings-panel {
    width: 750.25px;
    margin: 0;
    padding: 0;
    max-height: 3.625rem;
    display: flex;
}

.ratings-panel div {
    float: left;
}

.float-left {
    width: 70%;
}

.float-right {
    text-align: right;
    float: right;
    width: 30%;
}

.float-right div {
    float: right;
    display: flex;
}

.rating-value {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.625rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-right: 0.75rem;
}

.rating-star {
    line-height: 3.625rem;
    float: left;
    display: flex;
    align-items: center;
}

.rating-star-small {
    margin-top: 6px;
    margin-bottom: 32.15px;
    width: 100%;
    color: gold;
    float: left;
    display: flex;
    align-items: center;
}

.reviews-container {
    margin-top: 13px;
    height: 100%;
    padding: 1.875rem;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: auto;
}

.review-tile {
    max-width: 100%;
    margin-bottom: 10px;
}

.review {
    max-width: 100%;
    margin-bottom: 1.875rem;
}

.review-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
}

.response div {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    float: left;
}

.response::after {
    content: "";
    display: table;
    clear: both;
}

.response-value {
    color: #3583ea;
}

.response-text {
    color: #828282;
}

.likes div {
    float: left;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin-top: 0.875rem;
    display: flex;
}

.likes::after {
    content: "";
    display: table;
    clear: both;
}

.like-icon {
    float: left;
    height: 12.5px;
    width: 13.69px;
    margin-left: 10.62px;
    margin-right: 30.62px;
    color: #bdbdbd;
}

.like-icon::after {
    content: "";
    display: table;
    clear: both;
}

.like-no-icon {
    float: left;
    color: #bdbdbd;
}

.like-no-icon:hover {
    float: left;
    color: #bdbdbd;
    cursor: pointer;
}

.like-no-icon::after {
    content: "";
    display: table;
    clear: both;
}

.like-yes-icon {
    float: left;
    color: #bdbdbd;
}

.like-yes-icon:hover {
    float: left;
    color: #bdbdbd;
    cursor: pointer;
}

.like-yes-icon::after {
    content: "";
    display: table;
    clear: both;
}

.like-values div {
    float: left;
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
}

.like-values::after {
    content: "";
    display: table;
    clear: both;
}

.like-value {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    margin-right: 56px;
    color: #828282;
}

.like-value::after {
    content: "";
    display: table;
    clear: both;
}

.filter {
    margin-right: 0.625rem;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    color: var(--black_text_color);
    line-height: 3.625rem;
    display: flex;
}

.feedback {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

.tag-filter {
    margin-right: 0.625rem;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    color: var(--black_text_color);
    display: flex;
}


/* .drop-down {} */

div.drop-down {
    line-height: 3.625rem;
    display: table-cell;
}

div.tag-drop-down {
    display: table-cell;
}

#filters {
    font-size: 9px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 7.5rem;
    height: 1.25rem;
    background: var(--main_nav_links_color);
    border: 1px solid var(--rating_panel_dropDown_border_color);
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("images/drop-down-arrow.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.875rem);
    background-position-y: 0.5rem;
}

#feedback-filters {
    width: 7.5rem;
    height: 1.25rem;
    background: var(--main_nav_links_color);
    border: 1px solid var(--rating_panel_dropDown_border_color);
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("images/drop-down-arrow.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.875rem);
    background-position-y: 0.5rem;
}

#feedback-name-input {
    margin-top: 20px;
}

#feedback-description-input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.feedback-post-button {
    background-color: #002353;
    width: 138px;
    height: 40px;
    border: none;
    color: white;
    padding: 0rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0rem;
    cursor: pointer;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    resize: none;
}


/* Uncle Lime's style commented */

.feedback-input {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    text-indent: 20px;
    font-size: 14px;
    height: 30px;
    width: 100%;
}


/* Dapo's Replacement */


/* 
input.transporter [type="text"] {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    text-indent: 15px;
    font-size: 14px;
    height: 30px;
    width: 100%;
} */

.input {
    background: var(--main_nav_links_color);
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.tags-panel {
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 3.125rem;
    display: flex;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
    .dp-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.dp-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.dp-image {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}


/* .verify-image {} */

.round {
    border-radius: 50%;
}

.vendor-name {
    padding-top: 1.875rem;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.875rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--black_text_color);
}

.vendor-type {
    padding-top: 0.5625rem;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--black_text_color);
}

.vendor-info {
    padding-top: 3.125rem;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--black_text_color);
}

.trucks {
    padding-top: 0.5625rem;
    color: var(--blue_text_color);
}

.trucks-image {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 100%;
    background-color: var(--tag_background_color);
    line-height: 1.875rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
}

.fa-truck {
    line-height: inherit;
    width: 1.041875rem;
    height: 0.885625em;
    color: var(--blue_text_color);
}

.fa-steering-wheel {
    line-height: inherit;
    width: 1.041875rem;
    height: 1.041875rem;
    color: var(--blue_text_color);
}

.trucks-image img {
    line-height: inherit;
    width: 1.041875rem;
    height: 1.041875rem;
}

.drivers {
    padding-top: 0.625rem;
    color: var(--blue_text_color);
}

.trailer-type {
    padding-top: 3.4375rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.875rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--black_text_color);
}

nav .right-panel-nav-bar {
    width: 100%;
    position: relative;
    min-height: 3.125rem;
    line-height: 2.5rem;
}

nav ul {
    display: table;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    display: table-cell;
    background: var(--right_panel_nav_background_color);
    border: 1px solid var(--right_panel_nav_border);
    color: var(--right_panel_nav_color);
    line-height: 3.125rem;
    font-size: 0.875rem;
    font-weight: 400;
}


/* nav ul li */

.notActive {
    text-align: center;
    display: table-cell;
    background: var(--right_panel_nav_background_color);
    border: 1px solid var(--right_panel_nav_border);
    color: var(--right_panel_nav_color);
    line-height: 3.125rem;
    font-size: 0.875rem;
    font-weight: 400;
}


/* nav ul li */

.active-button {
    text-align: center;
    display: table-cell;
    background: var(--main_nav_links_color);
    border: 1px solid var(--right_panel_nav_border);
    color: var(--lower-nav-text-color);
    line-height: 3.125rem;
    font-size: 0.875rem;
    font-weight: 400;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tags {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags li,
.tags a {
    float: left;
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 0.6875rem;
    margin-top: 0.5rem;
}

.tags a {
    margin-right: 0.625rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: var(--tag_background_color);
    color: var(--blue_text_color);
    text-decoration: none;
    -moz-border-radius-bottomright: 1.25rem;
    -webkit-border-bottom-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    -moz-border-radius-topright: 1.25rem;
    -webkit-border-top-right-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    -moz-border-radius-bottomleft: 1.25rem;
    -webkit-border-bottom-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    -moz-border-radius-topleft: 1.25rem;
    -webkit-border-top-left-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
}


/* About us */

.grid-container {
    display: grid;
    grid-gap: 20px 30px;
    grid-template-columns: auto auto auto;
    padding: 0px;
    margin-top: 16px;
}

.grid-container-inner {
    display: grid;
    grid-template-columns: 28px auto;
    padding: 10px;
}

.grid-item {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    height: 100px;
}

.grid-item-inner {
    height: 28px;
}

.grid-item-inner-text {
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

.grid-item-inner-elipse {
    border: 1px solid #E0E0E0;
    border-radius: 100%;
}

.grid-item-inner-elipse img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15px;
}

.grid-circle {
    width: 100%;
    height: 100%;
    padding: auto;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 100%;
}

.grid-item-bottom {
    padding: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: left;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-item-bottom-inner {
    padding-top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: left;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.trucks-image-buffer {
    padding-right: 10px;
}

.grid-item-bottom-inner-categories {
    float: left;
}

.read-more {
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #2F80ED;
}


/* Gallery */

.gallery-grid-container {
    display: grid;
    grid-gap: 20px 30px;
    grid-template-columns: auto auto auto auto;
}

.gallery-grid-item {
    /* box-shadow: 0px 2px 20px rgba(47, 128, 237, 0.32); */
    border-radius: 5px
}

.gallery-grid-item img {
    height: 145px;
}

.footer-nav-bar {
    max-height: 3.25rem;
    box-sizing: border-box;
}

.footer-nav-bar-links {
    display: flex;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 0.75rem;
}

.footer-nav-bar-links a {
    margin-top: 1.375rem;
    margin-left: 1.875rem;
    margin-bottom: 1.125rem;
    color: var(--blue_text_color);
}

.report {
    margin-top: 1.375rem;
    padding: 0;
    max-height: 0.75rem;
}

.report a {
    color: var(--red_text_color);
}


/* Dapo Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all {
    width: 100%;
    overflow-x: hidden;
    /* max-width: 100vw; */
    margin: 0 auto;
    max-width: 72rem;
    min-height: 80vh;
    background-color: #FBFBFB;
}


/* .header{} */

.header-top {
    height: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.fa-clock,
.fa-phone,
.fa-at {
    margin-right: 5px;
}

.spread-info {
    display: flex;
    justify-content: space-between;
}

.wide-flat li {
    list-style-type: none;
    display: inline-block;
    line-height: 2.5rem;
    font-size: 11px;
    margin-right: 30px;
}

.header-top-right {
    line-height: 2.5rem;
    font-size: 11px;
    margin: 0;
}

.header-bottom {
    background-color: #002353;
    color: #ffffff;
    padding-left: 100px;
    padding-right: 100px;
    max-height: 60px;
}

.logo {
    width: 60px;
}

.profile {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 60px;
}

.right-padding {
    padding-right: 5px;
}

.center-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-section-outer {
    width: 461px;
    height: 60px;
    position: relative;
    text-align: center;
}

.search-section {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 461px;
    max-height: 30px;
    display: grid;
    grid-template-columns: auto 120px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-text {}

.search-space {
    background-color: #ffffff;
    height: 30px;
}

.search-space input {
    background-color: #ffffff;
    width: 100%;
    border: none;
    padding: 5px 10px;
}

.search-button {
    line-height: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    background-color: #EB5A2D;
    text-align: center;
    vertical-align: middle;
}

.menu-item {
    position: relative;
    padding: 8px 15px 4px;
}

.fa-sort-down {
    font-size: 0.1rem;
    margin-left: 8px;
}

.menu-item>h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.contact-us-sub-header>h6 {
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.sub-menu {
    position: absolute;
    z-index: 11;
    background-color: #ffffff;
    padding: 10px;
    left: 50%;
    top: 35px;
    transform: translate(-50%, -15px);
    overflow: hidden;
    opacity: 0;
    min-width: 150px;
    height: 0;
    transition: 0.3s ease;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
}

.menu-item:hover .sub-menu {
    opacity: 1;
    height: auto;
    transform: translate(-50%, 0);
}

.sub-item {
    width: 100%;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #eeeeff;
}

.sub-item a {
    color: #242424;
    text-decoration: none;
}

.sub-item a:hover {
    color: #00429e;
    text-decoration: none;
}

.sub-header {
    background-color: #f4f4f4;
    max-height: 44px;
    padding-left: 100px;
    padding-right: 100px;
}

.sort-area {
    height: 40px;
    line-height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    float: right;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

@media(max-width: 995px) {
    .search-section {
        margin-top: 10px;
    }
}

@media(max-width: 850px) {
    .spread-info-web {
        display: block;
    }
    .header-top {
        display: none;
    }
    .sub-header {
        display: none;
    }
}


/* Page Grid Section */

.hide-overflow {
    position: relative;
    overflow: hidden;
}

.dashboard-header-place-holder {
    width: 100%;
    height: 120px;
}

.mini-header {
    padding: 15px 3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.no-padding {
    padding: 0;
}

.mini-header .sidebar-toggle {
    color: #053475;
    font-size: 30px;
    display: none;
}

.header-square {
    width: 20px;
    height: 20px;
    margin: 0 30px 0 0;
    background-color: #eeeeee;
}

@media all and (max-width: 767px) {
    .dashboard-header-place-holder {
        height: 90px;
    }
    .mini-header {
        padding: 10px 25px;
    }
    .mini-header .sidebar-toggle {
        display: block;
    }
}

.dashboard-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1px auto;
    grid-template-columns: 1px auto;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    min-height: calc(100vh - 180px);
}

.dashboard-grid .side-bar {
    padding: 10vh 10px;
    height: calc(90vh - 150px);
}

.dashboard-grid .side-bar .side-barcontent {
    position: absolute;
    margin-left: 90px;
    width: 220px;
    left: 10px;
    top: 10px;
    background: rgb(255, 255, 255);
    z-index: 10;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.dashboard-grid .side-bar .side-barcontent2 {
    position: fixed;
    width: 220px;
    left: 0px;
    top: 0px;
    background: #002353;
    color: #ffffff;
    height: 100vh;
    z-index: 10;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.sidebar-pad {
    padding: 30px 15px 20px 30px;
}

.user-image-holder {
    width: 40px;
    margin: 50px 0 10px;
    border-radius: 50%;
    overflow: hidden;
}

.side-barcontent2 a {
    color: #ffffff;
}

.side-barcontent2 a:hover {
    color: #ffffff;
    text-decoration: none;
}

.side-barcontent2 a div {
    padding: 10px 20px 10px 30px;
    font-weight: 300;
}

.side-barcontent2 a div span {
    margin-left: 15px;
}

.side-barcontent2 a .active {
    color: #ffffff;
    background-color: #0055C8;
}

.side-barcontent2 a:hover div {
    color: #ffffff;
    background-color: rgba(0, 83, 200, 0.541);
}

.edit-profile {
    color: #56CCF2;
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 20px;
}


/* Not Fixed */

.filter-area {
    margin-top: 5px;
    padding: 20px 17px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
}

.filter-area input[type="text"] {
    width: 100%;
    max-height: 20px;
    border-radius: 5px;
    margin-bottom: 4px;
    padding: 1px 10px;
    border: 1px solid #888888;
    background-color: #eeeeee;
}

.filter-area input[type="text"]:focus {
    border: 1px solid #242424;
    outline: none;
}

.filter-area input[type="checkbox"],
.filter-area input[type="radio"] {
    transform: translateY(2px) scale(1.2);
    margin-right: 5px;
    font-size: 6px;
}

.filter-area h5 {
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

div.spread-info.mt2.category {
    margin-top: 16px;
}

div.spread-info.mt2 h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

div.spread-info.mt2 {
    margin-top: 24px;
}

.spread-info.mt2 i {
    float: right;
}

.filter-button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    font-size: 12px;
    border: none;
    background-color: #EB5A2D;
    color: #ffffff;
}

.main-info {
    width: 90%;
    margin: 6vh auto;
}

.dashboard-card {
    padding: 12px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.mini-card {
    min-height: 80px;
}

.mini-card p {
    margin-bottom: 2px;
    color: #888888;
    font-size: 13px;
}

.card-image-holder {
    width: 40px;
}

.table-case {
    width: 100%;
    max-width: 85vw;
    overflow: auto;
}

.table-topic {
    font-size: 18px;
    margin: 10px 10px 20px;
}

.table-case::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.table-case::-webkit-scrollbar-thumb {
    background: #003074;
    border-radius: 3rem;
}

.table-case::-webkit-scrollbar-thumb:hover {
    background-color: #001e49;
}

.table {
    width: 100%
}

.table tr {
    border: none;
}

.table td {
    border: none;
}

.table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table td {
    font-weight: 500;
    font-size: 14px;
}

.lead-row {
    background-color: #E3EFFF !important;
}

.unu {
    background-color: #ff33ff;
    padding: 10px;
    width: 100%;
}

.table a button {
    color: #ffffff;
    background-color: #0055C8;
    border: none;
    border-radius: 7px;
    padding: 1px 30px 4px;
    transition: 0.3s ease;
}

.table a button:hover {
    background-color: #003074;
}


/* Not Fixed */

@media all and (max-width: 850px) {
    .dashboard-grid .side-bar .side-barcontent {
        -webkit-transform: translateX(-270px);
        transform: translateX(-270px);
    }
    .dashboard-grid .side-bar .side-barcontent {
        position: fixed;
        width: 220px;
        left: 10px;
        top: 210px;
    }
    .dashboard-grid .side-bar .side-barcontent2 {
        -webkit-transform: translateX(-270px);
        transform: translateX(-270px);
    }
    .dashboard-grid .side-bar .side-barcontent2 {
        position: fixed;
        width: 220px;
        left: 0px;
        top: 0px;
    }
}

.dashboard-grid .side-bar .sidebar-toggle {
    position: absolute;
    color: #ffffff;
    right: -90px;
    top: -10px;
    padding: 15px 15px 10px;
    border-radius: 50%;
    background-color: #EB5A2D;
    display: none;
    opacity: 0.7;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.dashboard-grid .side-bar .sidebar-toggle i {
    font-size: 20px;
    margin: 0;
}

@media all and (max-width: 850px) {
    .dashboard-grid .side-bar .sidebar-toggle {
        display: block;
    }
}

.dashboard-grid .side-bar .sidebar-toggle:hover {
    opacity: 1;
    -webkit-box-shadow: 0 1px 10px 1px rgba(0, 52, 68, 0.2);
    box-shadow: 0 1px 10px 1px rgba(0, 52, 68, 0.2);
}

.dashboard-grid .side-bar .sidebar-toggle:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.dashboard-grid .main-content {
    margin-left: 250px;
    padding: 0 5vw 8vh;
}

.dashboard-grid .main-content2 {
    margin-left: 220px;
    padding: 0;
}

@media all and (max-width: 850px) {
    .dashboard-grid .main-content {
        margin-left: -1px;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .dashboard-grid .main-content2 {
        margin-left: 0px;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
}

@media all and (max-width: 850px) {
    .dashboard-grid {
        -ms-grid-columns: 0.5px auto;
        grid-template-columns: 0.5px auto;
    }
}


/* Main */

.info-card {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.15);
    width: 98%;
    max-width: 350px;
    margin: 15px auto 10px;
    position: relative;
}

.image-holder {
    width: 100%;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.verification {
    padding: 0 0 0 0;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.verification-ratings {
    padding: 0 0 0 0;
    position: absolute;
    top: 10px;
    right: 50px;
    width: 20px;
    height: 20px;
}

span.fa-stack {
    font-size: 10px;
    color: #56CCF2;
}

span.ratings.fa-stack {
    font-size: 30px;
    color: #56CCF2;
}

.overshadow {
    margin-left: -32px;
    color: #ffffff;
    transform: scale(0.5);
}

.content-holder {
    width: 100%;
    padding: 8px 8px;
}

.content-holder button {
    width: 100%;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #002353;
    padding: 2px 5px 5px;
    margin-bottom: 5px;
}

.active {
    color: rgb(255, 217, 0);
}

.inactive {
    color: rgb(211, 211, 211);
}

.reviews {
    color: #2F80ED;
    padding: 0;
}

.reduced {
    font-size: 12px;
}

.bold {
    font-weight: 500;
}


/* //Main */


/* //Page Grid Section */


/* Footer */

.footer {
    background-color: #002353;
    color: #ffffff;
    padding: 5vh 5px;
}

.footer-spread {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.footer-logo {
    margin-right: 50px;
    width: 150px;
    max-width: 50%;
}

.footer-grid {
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto;
}

.footer-section {
    padding: 10px;
}

.footer p {
    margin: 0;
    padding: 4px 0;
}

.footer p a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease;
}

.footer p a:hover {
    color: #70a2ff;
    text-decoration: none;
}

.faint {
    font-weight: 300;
}

@media all and (max-width: 850px) {
    .footer-spread {
        display: block;
    }
    .footer-logo {
        margin: auto;
    }
}


/* general.css */

.mt2 {
    margin-top: 2vh;
}

.mt3 {
    margin-top: 3vh;
}


/* //Footer */